<a href="https://colab.research.google.com/github/soo423/Python-archive/blob/main/10_%E1%84%82%E1%85%A2%E1%84%8C%E1%85%A1%E1%86%BC%E1%84%92%E1%85%A1%E1%86%B7%E1%84%89%E1%85%AE%E1%84%8B%E1%85%AA_%E1%84%91%E1%85%AD%E1%84%92%E1%85%A7%E1%86%AB%E1%84%89%E1%85%B5%E1%86%A8224.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장 함수 확장

In [2]:
nums = [1, -3, 5, 4]
print(max(nums))

5

In [3]:
nums = [1, -3, 5, 4]
print(max(nums, key=lambda x: x**2))

5

In [4]:
names = ['banana', 'grape', 'apple']
print(max(names))
print(min(names))

grape
apple

In [5]:
print(sorted(nums))
print(nums)

[-3, 1, 4, 5]
[1, -3, 5, 4]

### key 입력 사용


```
max(입력, key=함수)
max(입력, key=lambda x: x.내장함수())
```

In [7]:
nums = [1, -3, 5, 4]
print(sorted(nums, key=abs))

[1, -3, 4, 5]

In [8]:
names = ['apple', 'kiwi', 'banana']
print(sorted(names, key=len))

['kiwi', 'apple', 'banana']

In [9]:
names = ['BANANA', 'GRAPE', 'apple']
print(sorted(names)) # 사진 순서로 정렬, 대문자/소문자/0-9숫자
print(sorted(names, key=lambda x: x.lower())) #lower()함수 : 소문자로 변환

['BANANA', 'GRAPE', 'apple']

In [10]:
nums = [[5,6], [-30, -10, -10]]
print(max(nums, key=len))
print(min(nums, key=len))

[-30, -10, -10]
[5, 6]

### zip() 함수 : 둘 이상의 반복 가능한 값을 입력 받아 각각의 요소를 순서대로 묶어서 튜플 형태로 반환하는 파이선 내장 함수

In [12]:
nums = [1,2,3]
names = ['one', 'two', 'three']
num_strs = '123'
for item in zip(nums, names, num_strs):
  print(item)

(1, 'one', '1')
(2, 'two', '2')
(3, 'three', '3')

In [11]:
nums = [1,2,3]
names = ['one', 'two', 'three']
num_strs = '123'
for num, name, num_strs in zip(nums, names, num_strs):
  print(num, name, num_strs)

1 one 1
2 two 2
3 three 3

In [13]:
nums = [1,2,3]
names = ['one', 'two', 'three']
for i, j in zip(nums, names):
  print(f'num : {i} / name = {j}')

num : 1 / name = one
num : 2 / name = two
num : 3 / name = three

In [14]:
names = ['kim', 'lee']
ages = [20, 30]
for n, a in zip(names, ages):
  print(f'name : {n} / age = {a}')

name : kim / age = 20
name : lee / age = 30

### enumerate() 함수 :  여러 요소로 이루어진 값을 입력 받아 인덱스 값과 요소 값이 담긴 튜플 형태로 제공하는 파이썬 내장 함수

In [17]:
names = ['banana', 'grape', 'apple']
for i, name in enumerate(names):
  print(item)

(3, 'three', '3')
(3, 'three', '3')
(3, 'three', '3')

In [18]:
names = ['banana', 'grape', 'apple']
for i, name in enumerate(names):
  print(i, name)

0 banana
1 grape
2 apple

In [20]:
chars = ['*','+','#','&']
for i, c in enumerate(chars):
  print(c * i)

+
##
&&&

### isinstance() 함수 : 입력 값의 자료형을 확인할 때 사용하는 내장 함수, 결과값으로 True 또는 False 변환
isinstance(값, 타입)

In [21]:
num = 41
if isinstance(num, int):
  print(f'{num} is int')

if isinstance(num, float):
  print(f'{num} is float')

41 is int

In [22]:
num = [3,2,1]
if isinstance(num, (int, float)):
  print(f'{num} is list')

if isinstance(num, (list, tuple)):
  print(f'{num} is list or tuple')

[3, 2, 1] is list or tuple

In [ ]:
args = (3,4,5)
if isinstance(args, tuple):
  print(sum(args))

if isinstance(args, (int, float)):
  print(args)

### all() 함수 : 인자로 받은 값의 모든 요소가 True 일 경우 True이며, 하나라도 False면 결과가 False 이다. and
### any() 함수 : 인자로 받은 값의 요소들 중 하나라도 True 일 경우 결과가 True이며, 모두 False이면 결과가 False 이다. or

In [ ]:
num = 30
check_sum = [num%2==0, num%3==0, num%5==0]
if all(check_sum):
  print('all : and')

In [ ]:
num = 8
check_sum = [num%2==0, num%3==0, num%5==0]
if any(check_sum):
  print('any : or')

#내장 함수들

In [28]:
#ord(c) : 문자의 유니코드 숫자값을 반환
ord('H')
ord('a')
ord('가')

44032

In [25]:
dir('Hello') #String 객체의 함수를 보여줌
dir([1,2,3]) #리스트의 함수를 보여줌
dir(['a':1]) #딕셔너리의 함수를 보여준다

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
#divmod(a, b)a를 b로 나눈 몫과 나머지를 튜플로 변환

divmod(7,3)
print(7//3, 7%3)

2 1

In [29]:
#list(반복 가능한 데이터)
list('Python')
list((1,2,3))

a = [1,2,3]
b = list(a)
b

[1, 2, 3]

In [31]:
#tuple(iterable) : 반복 가능한 데이터를 튜플로 바꾸어 변환하는 함수
tuple('python')
tuple([1,2,3])
tuple([1,2,3])

(1, 2, 3)

In [33]:
#str(object) : 문자열 형태로 객체를 변환하여 반환하는 함수
str(3)
str('hi'. upper())

'HI'

In [38]:
#int(x) : 정수로 변환, radix 진수로 표현된 문자열 x를 10진수로 변환
int('3')
int(3.5)
int('11', 2) #2진수 11
int('1A', 16)
int('30071', 8)

12345

In [34]:
#hex(x) : 정수값을 입력받아 16진수 문자열로 반환
hex(26)

'0x1a'

In [39]:
#oct(x) : 정수를 8진수 문자열로 변환
oct(12345)

'0o30071'

In [43]:
#eval(표현식) : 문자열로 구성된 표현식을 입력받아 실행 결과값을 반환
eval('1+2')
eval("'hi'+'hi'")
eval('divmod(4,3)')

(1, 1)

In [44]:
#filter(함수, 반복 가능한 데이터) : 반복 가능한 데이터의 요소를 순서대로 호출했을 때 리턴값이 참인것만 반환
list(filter(lambda x: x>0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [45]:
#map(함수, iterable) : 입력받은 데이터의 각 요소에 함수를 적용한 결과를 반환
list(map(lambda x: x*2, [1,2,3,4]))

[2, 4, 6, 8]

In [46]:
#id(객체): 객체를 입력 받아 고유 주소값(레퍼런스)를 변환
a = 3
b = a
print(id(a), id(b))
a = 4
print(id(a), id(b))
print(a, b)

11654440 11654440
11654472 11654440
4 3

In [48]:
a = [1,2,3]
b = a
print(id(a), id(b))
a += [4]
print(a)
print(id(a), id(b))
print(b)

134462280335424 134462280335424
[1, 2, 3, 4]
134462280335424 134462280335424
[1, 2, 3, 4]

### 문자열 format() 확장
* 1,000 자리마다 콤마 {:,}
* 소수점 자리 수 {:.2f}
* 숫자 길이 {:5}

In [54]:
num = 3
name = 'apple'
print('num = {}, name = {}'.format(num, name))

num = 3, name = apple

In [55]:
print(f'num = {num}, name = {name}')

num = 3, name = apple

In [57]:
num = 1/3
print('num = {}'.format(num))
print('num = {:.2f}'.format(num))

num = 0.3333333333333333
num = 0.33

In [58]:
print(f'num = {num:.2f}')

num = 0.33

In [59]:
num = 41
print('num={}'.format(num))
print('num={:5}'.format(num))

num=41
num=   41

In [60]:
print(f'sum = {num:5}')

sum =    41

In [61]:
num = 41.123
print('num={:7.2f}'.format(num)) #총길이 7.소수점 둘째자리까지

num=  41.12

In [62]:
print(f'num={num:7.2f}')

num=  41.12

In [63]:
for i in range(11):
  print(f'{i:02}')

00
01
02
03
04
05
06
07
08
09
10

In [66]:
num = 1234567
print('num={}'.format(num))
print('num={:,}'.format(num))

num=1234567
num=1,234,567

In [67]:
print(f'num={num:,}')

num=1,234,567

In [ ]:
#실수형의 오차
print(1.1 + 2.2)#10진수를 2진수로 변환 후 더하고, 다시 10진수로 변환하여 표시하는 과정에서 생기는 오차

### 자주 쓰이는 표현식
* " ".join() : 리스트나 튜플을 입력하여 구분 기호로 문자열을 결합
* A if B else C : 삼항 연산자, 만일 B가 True면 A, False면 C가 된다.
* 리스트 컴프리헨션 list comprehension : [C for A in B if ] , 규칙적인 값으로 이루어진 리스트를 생성, 조건식이 너무 복잡하면 가독성 저하됨

In [69]:
names = ['apple', 'banana', 'grape']
print(", ".join(names))

apple, banana, grape

In [70]:
words = ['apple', 'banana', 'grape']
print(", ".join(words))

apple, banana, grape

In [71]:
num = 41
odd_even = 'odd' if num%2==1 else 'even'
print(f'{num} is {odd_even}')

41 is odd

In [74]:
use_gpu = False
device = 'gpu' if use_gpu else 'cpu'
#변수에 있는 값이 참이면 'gpu'이고 거짓이면 'cpu' 저장
print(device)

cpu

In [76]:
num_strings = []
for i in range(5):
  num_strings.append(str(i))
print(num_strings)

['0', '1', '2', '3', '4']

In [77]:
num_strings = [str(i) for i in range(5)]
print(num_strings)

['0', '1', '2', '3', '4']

In [79]:
two_multiples = []
for i in range(10):
  if i%2==0:
    two_multiples.append(str(i))

print(two_multiples)

['0', '2', '4', '6', '8']

In [82]:
#리스트 컴프리헨션(list comprehension) : [C for A in B if]
two_multiples = [str(i) for i in range(10) if i%2==0]
print(two_multiples)

['0', '2', '4', '6', '8']

In [83]:
animals = []
for i in['slow', 'fast']:
  for j in ['dog', 'cat']:
    animals.append(f'{i} {j}')
print(animals)

['slow dog', 'slow cat', 'fast dog', 'fast cat']

In [84]:
#list list comprehension : C for A in B if
animals = [f'{i} {j}' for i in['slow', 'fast'] for j in ['dog', 'cat']]
print(animals)

['slow dog', 'slow cat', 'fast dog', 'fast cat']

In [85]:
squares = [i**2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [86]:
odd_squares = [i**2 for i in range(5)if i%2==1]
print(odd_squares)

[1, 9]

### if문 확장
* all(), any()를 사용한 if문
* short circuit evaluation : 먼저 등장한 논리식이 뒤의 논리식과 관계없이 전체 연산 결과를 결정할 경우 뒤의 논리식을 실행하지 않는다


```
if True or 조건: 결과가 이미 True임으로 뒤의 논리식은 계산하지 않는다
  실행코드
if False and 조건: 결과가 이미 False임으로 뒤의 논리식을 계산하지 않는다
  실행코드
```

In [87]:
if True or 3%2 == 0:
  print('True or')

if False and 3%2 == 0:
  print('False and')

True or

In [88]:
nums = [1, -5, 3]
if nums[0]>0:
  print('positive')

positive

In [89]:
nums = []
if len(nums)> 0 and nums[0]>0:
  print('positive')

In [ ]:
print(any{10//i > 0 for i in [3,2,1,0]})
#반복 대상 전체에 대해 계산하는데 리스트 마지막 숫자가 0이라서 0으로 나눌 수 없어 오류가 발생
#([True, True, True, error])

In [93]:
words = ['apple', '']
for w in words:
  if w != '' and w[0]=='a':
    print(f'word: {w}')

word: apple

### 반복문 확장
* 중첩 반복문


```
for i in A:
  실행코드1
  for j in B:
    실행코드2
```
* while문, for문 조합
* 중첩 반복문의 break, continue
* 반복문의 else : 반복문이 break를 만나지 않고 종료되면 실행된다


```
for i in A:
  실행코드1
else:
  실행코드2
```

* 시간 복잡도 : 입력의 크기에 따라 알고리즘이 실행되는 데에 필요한 시간의 양을 나타내는 개념. 빅오 표기법(Big O Notation)으로 표시,


```
O(1) 입력의 크기 n에 대해 관계없이 동일한 시간이 걸리는 복잡도 표현
O(n) 입력의 크기 n에 대해 선형적인 시간이 걸리는 복잡도 표현
O(nlogn) 입력의 크기 n에 대해 n*logn에 비례하는 시간이 걸리는 복잡도 표현 (log밑2)

O(n**2) 입력의 크기 n의 제곱에 비례하는 시간이 걸리는 복잡도 표현

O(n**3) 입력의 크기 n의 세제곱에 비례하는 시간이 걸리는 복잡도 표현
O(a**n) 입력의 크기 n에 지수적인 관계로 시간이 걸리는 복잡도 표현 (a>1)
```

In [94]:
lists = (['yesterday', 'today'],['one', 'two'])
for ls in lists:
  for item in ls:
    print(item)

yesterday
today
one
two

In [99]:
lists = []
for i in range(3):
  nums = []
  while sum(nums)<10:
    num = float(input('num: '))
    nums = nums + [num]
  lists = lists + [nums]
print(lists)

num: 8
num: 3
num: 5
num: 4
num: 3
num: 9
num: 7
[[8.0, 3.0], [5.0, 4.0, 3.0], [9.0, 7.0]]

In [102]:
for i in range(10):
  for j in range(10):
    print(i,j)
  break

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9

In [104]:
num1, num2 = 0, 0
for i in range(5):
  num1 += 1
  for j in range(3):
    num2 += 1
    break
print(num1, num2)

5 5

In [105]:
sum_i = 0
for i in range(5):
  sum_i += 1
else:
  print(sum_i)

5

In [106]:
sum_i = 0
while sum_i < 5:
  sum_i += 1
else:
  print(sum_i)

5

In [107]:
#시간의 복잡도 0(n**2)
nums = [1,2,3]
multiples = []
for i in nums:
  for j in nums:
    multiples = multiples + [i*j]
print(multiples)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [108]:
num = 41
is_prime = True
for i in range(2, num):
  if num%i == 0:
    is_prime = False
    break
print(is_prime)

True

In [ ]:
num = 41
is_prime = True
for i in range(2, ): #입력 숫자에 대해 제곱근 이하의 숫자까지만 검사하면 반복문의 범위를 줄일 수 있음
  if num%i == 0:
    is_prime = False
    break
print(is_prime)

### 조건식의 True / False
* 내용이 있는 문자열은 True, 빈 문자열은 False
* 숫자는 0이 아니면 True, 0 이면 False
* 리스트에 값이 하나 이상 있으면 True, 빈 리스트만 Fasle

In [109]:
if 3:
  print('True')

if 0:
  print('False')

True

In [110]:
if 'string':
  print('True')

if '':
  print('False')

True

In [ ]:
num = 3
if num%3:
  print('0')

  if num%3:
    print('not 0')

### 리스트의 덧셈, 곱셈

In [111]:
array = [1,2,3] + [9]
print(array)

[1, 2, 3, 9]

In [112]:
array_triple = [1,2,3] * 3
print(array_triple)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 문자열 비교 : 사전 순서로 대문자, 소문자, 숫자0-9 순이며, 아스키코드의 숫자 기준이다.

In [113]:
print('apple' > 'banana')

False